<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHS</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h1>AHS</h1>
<p>{{my_car}}</p>
    <div>
        <h1>Categories</h1>
        {% for category in category_list %}
        <div class="list-group">
            <a href="{% url 'detail' category.id %}" class="list-group-item list-group-item-action">{{ category.name }}</a>
        </div>
        {% endfor %}
    </div>

    <div>
        <h1>All Products</h1>
        {% for product in product_list %}
        <p>- {{product}}</p>
        {% endfor %}
    </div>


</body>

</html>