<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="https://cdn.commercev3.net/cdn.shopmedvet.com/images/large/{{ product.SKU }}.jpg" width="250" /> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">SKU: {{ product.SKU }}</span>
                                    <h5 class="text-uppercase">{{ product.name }}</h5>
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">${{ product.price }}</span>
                                        <!-- <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span> </div> -->
                                    </div>
                                </div>
                                <p class="about">{{ product.description }}</p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Add to Cart">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>