<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Products</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <h1><a class="btn btn-primary" href="/main_page/">Go Home</a></h1>

  <h1>ViewCart Page</h1>

  {% for product in prod_list %}
  {% for key, value in cart_Items.items %}
  {% if key == product.id %}
  <p>The product id is {{product.id}}, name is {{product.name}} and it appears: {{value}} times with a price of ${{product.price}}.</p>
  {% endif %}
  {% endfor %}
  {% endfor %}

  <h1>Total: {{total_price_of_cart}}</h1>

  <form action="." method="post">
    {% csrf_token %}
    <label for="email">Your email: </label>
    <input name="email" title="title" id="email" type="email" required>
    <input type="submit" value="Request Quote">
  </form>

</body>

</html>