<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Products</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <h1>ViewCart Page</h1>
    <!-- {% for product in product_in_cart_list %}
        <p>{{ product.name }}</p>
    {% endfor %} -->
    {% for item in product_in_cart_list %}
    <p>{{item.name}}</p>
        <p>{{item.price}}</p>
    {% endfor %}

</body>

</html>