<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Products</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <h1>ViewCart Page</h1>

  {% for product in prod_list %}
  {% for key, value in cart_Items.items %}
  {% if key == product.id %}
  <p>The product id is {{product.id}}, name is {{product.name}} and it appears: {{value}} times.</p>
  {% endif %}
  {% endfor %}
  {% endfor %}

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Request Quote">
  </form>

</body>

</html>